/**
* Featured Content/Hero Player
*
* @version	0.3
* @author	Jasal Vadgama - http://blacklabelcreative.com/
* @media	screen
**/

body {
	padding: 20px;
	font: 14px/1.2em Georgia, Times, "Times New Roman", serif;
}
h1, h2, h3 {
	padding-bottom: 20px;
	font: 20px/1em Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 18px;
}
h3 {
	padding-bottom: 10px;
	font-size: 16px;
}

/**
* Default Hero Styles
*/
.heroPlayer {
	position: relative;
	width: 500px;
}
.heroPlayer li {
	position: relative;
	float: left;
	width: 500px;
	height: 335px;
	list-style: none;
}
.heroPlayer li div {
	position: absolute;
	bottom: 0;
	padding: 15px;
	background: #000;
	background: rgba(255, 255, 255, 0.75);
	color: #000;
}

/**
* JS On Styles
*/
.heroMask {
	overflow: hidden;
}
a.arrowPrev,
a.arrowNext {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: no-wrap;
}
a.arrowPrev {
	left: 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
a.arrowNext {
	right: 0;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.directNav {
	float: right;
	padding-top: 10px;
}
.directNav a {
	float: left;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
}
.directNav a:hover,
.directNav a:focus,
.directNav .active {
	background: #000;
}